<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Weather Journal App
  </div>
  <div class ="holder zip">
    <label for="city">Enter City Name Here</label>
    <input type="text" id="city" placeholder="enter city name here">
  </div>
  <div class ="holder feel">
    <label for="tripDate">Arrival Date?</label>
    <textarea class= "myInput" id="monthA" placeholder="Month" rows="1" cols="4"></textarea>
    <textarea class= "myInput" id="dayA" placeholder="Day" rows="1" cols="2"></textarea>
    <textarea class= "myInput" id="yearA" placeholder="Year" rows="1" cols="3"></textarea>
    <label for="tripDate">Departure Date?</label>
    <textarea class= "myInput" id="monthD" placeholder="Month" rows="1" cols="4"></textarea>
    <textarea class= "myInput" id="dayD" placeholder="Day" rows="1" cols="2"></textarea>
    <textarea class= "myInput" id="yearD" placeholder="Year" rows="1" cols="3"></textarea>
    <button id="generate" type = "submit"> Generate </button>
  </div>
  <div class ="holder entry">
    <div class = "title">Most Recent Entry</div>
   <div id = "entryHolder">
    <div id = "date"></div> 
   <div id = "latitude"></div>
   <div id = "longitude"></div>
   <div id = "country"></div>
   <div id = "count"></div>
  </div>
  </div>
  </div>
</body>
</html>
